<html>
{% extends 'layout.html' %}

{% block title %}
    Şifre Sıfırla
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div {% if message.tags %} id = "msg" class="alert alert-{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <br>
        <h3>Şifre Sıfırlama Başarılı</h3>
        <hr>
        <p>Yeni şifreniz ile sisteme giriş yapabilirsiniz.</p>
        
        <a href="/login" class="btn btn-primary">Giriş Yap</a>
    </div>
</div>
{% endblock content %}
</html>