
<html>
{% extends 'layout.html' %}
{% block title %}
    Okul Yetkilisi Anasayfa
{% endblock title %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div {% if message.tags %} id = "msg" class="alert alert-{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}
<div class="row">
    <h3>Okul Yetkilisi Anasayfa</h3>
    
</div>
<div class="row">
    <hr>
    <br>
    
</div>

<div class="row">
    <div class="col">
         <a class="btn btn-primary btn-lg btn-block" href="/schooladmin/upload-student-list/">Sınıf listesi yükle!</a>
    </div>
    <div class="col">
        <a class="btn btn-primary btn-lg btn-block" href="/schooladmin/schedule/">Sınav takvimleri</a>
    </div>
  </div>
  <div class="row">

    

    


{% endblock content %}

</html>