<html>
{% extends 'layout.html' %}

{% block title %}
    Öğrenci Anasayfa
{% endblock title %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div {% if message.tags %} id = "msg" class="alert alert-{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}
<h3>Öğrenci Anasayfa</h3>
<hr>
<br>

    <a class="btn btn-primary btn-lg btn-block" href="/student/schedule/">Sınav detayları!</a>

{% endblock content %}
</html>