{% extends 'layout.html' %}

{% block title %}
    Öğrenci Anasayfa
{% endblock title %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div {% if message.tags %} id = "msg" class="alert alert-{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}
<h3>Öğrenci Anasayfa</h3>
<hr>
<style>
body {
  background-image: url('https://i.pinimg.com/originals/3d/38/4d/3d384d829dbf4b678cfea617114e149d.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

    <button type="button" style="background-color: aliceblue">
        <a href="/student/schedule/">Sınav detayları!</a>
    </button>

{% endblock content %}