{% extends 'layout.html' %}

{% block title %}
    Öğretmen
{% endblock title %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}
<h3>Öğretmen Ana Sayfası</h3>
<hr>

    <button type="button">
        <a href="/teacher/change-exam-details/">Sınav detaylarını değiştir!</a>
    </button>

    <button type="button">
        <a href="/teacher/view-exam-details/">Sınav detaylarını görüntüle!</a>
    </button>

    <button type="button">
        <a href="/teacher/create-exam/">Sınav oluştur</a>
    </button>

{% endblock content %}