{% extends 'layout.html' %} {% block title %} Upload {% endblock title %}
{%block content %}
 {% load crispy_forms_tags %}
 <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(
    function(){
        $('input:file').change(
            function(){
                if ($(this).val()) {
                    $('button:submit').attr('disabled',false);
                    // or, as has been pointed out elsewhere:
                    // $('input:submit').removeAttr('disabled'); 
                } 
            }
            );
    });
</script>
</head>
{% if messages%}
<ul class="messages">
  {% for message in messages %}
  <div {% if message.tags %} id = "msg" class="alert alert-{{ message.tags }}" {% endif %}>
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
    {{ message }}
  </div>
  {% endfor %}
</ul>
{% endif %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <br />
    <h3>Öğrenci Listesi Yükle</h3>
    <hr />
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{form|crispy}}

      <input type="file" name="document" />
      <button type="submit" class="btn btn-primary" disabled>
        Öğrenci Listesi Yükle
      </button>
    </form>
  </div>
</div>

    {% endblock content %}

